/* Admin Panel Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
.admin-header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
.admin-container {
    margin-top: 30px;
}
.admin-sidebar {
    background-color: #444;
    color: white;
    padding: 15px;
}
.admin-sidebar a {
    color: #ddd;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: 0.3s;
}
.admin-sidebar a:hover {
    background-color: #555;
}

.btn-back {
    padding-left: 0%;
    position: absolute;
    left: 0;
}
.admin-content {
    padding: 20px;
    background-color: white;
    margin-left: 220px; /* Adjust for sidebar */
}
/* Responsive Design */
@media (max-width: 768px) {
    .admin-content {
        margin-left: 0;
    }
    .admin-sidebar {
        display: none;
    }
}